GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.1-8b-instant

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=agent4da
POSTGRES_USER=bigdata
POSTGRES_PASSWORD=your_postgres_password_here

MINIO_ENDPOINT=http://minio:9000
MINIO_HOST_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=your_minio_access_key_here
MINIO_SECRET_KEY=your_minio_secret_key_here

ICEBERG_JDBC_URI=jdbc:postgresql://postgres-db:5432/agent4da
ICEBERG_WAREHOUSE=s3a://test/gold/warehouse

TRINO_HOST=trino
TRINO_PORT=8080
TRINO_USER=agent4da
TRINO_CATALOG=iceberg_catalog
TRINO_SCHEMA=gold
